import(igraph)
import(AnnotationDbi)
import(Biobase)

# I/O functions
export(saveNetwork, loadNetwork.sif, loadNetwork.tab) 

# Graph functions
export(rmSelfLoops, makeNetwork, subNetwork, largestComp, largestScoreComp, permutateNodes, compareNetworks, getEdgeList)

# Heinz functions
export(writeHeinzEdges, writeHeinzNodes, writeHeinz, runHeinz, scanFDR, readHeinzTree, readHeinzGraph, runFastHeinz)

# Microarray functions
export(mapByVar) 

# Plot function
export(plot.bum, hist.bum, plotLLSurface, plotModule, plot3dModule, save3dModule)

# Statistic functions
export(aggrPvals, fbum, fbumLL, bumOptim, print.bum, summary.bum, fitBumModel, fdrThreshold, piUpper, scoreOffset, scoreFunction, scoreNodes, getCompScores)

# Resampling functions
export(resamplingPvalues, consensusScores, sortedEdgeList)

# S3 methods
S3method(print, bum)
S3method(summary, bum)
S3method(hist, bum)
S3method(plot, bum)

importFrom(graph,nodeData)
importFrom(graph,nodes)
importFrom(graph,isDirected)
importFrom(graph,eWV)
importFrom(graph,edgeMatrix)
importFrom(graph,edgeNames)
importFrom(graph,nodes)
importFrom(graph,eWV)
importFrom(graph,edgeMatrix)
importFrom(graph,subGraph)
importFrom(graph,nodes)
importFrom(graph,adj)
importFrom(graph,subGraph)
importFrom(graph,nodes)
importFrom(graph,nodes)
importFrom(graph,numNodes)
importFrom(graph,nodes)
importFrom(graph,numEdges)
importFrom(graph,connComp)
importFrom(graph,edgeMatrix)
importFrom(graph,nodes)
importFrom(RBGL,connectedComp)
importFrom(graph,subGraph)
importFrom(graph,nodes)
importFrom(graph,subGraph)
importFrom(graph,addEdge)
importFrom(graph,addEdge)
importFrom(graph,"nodes<-")
importFrom(graph,nodes)
importFrom(graph,edgeNames)
importFrom(graph,removeEdge)
importFrom(graph,edgeNames)
importFrom(graph,numEdges)
importFrom(graph,removeEdge)
importFrom(graph,nodes)
importFrom(graph,isDirected)


importFrom("grDevices", "colorRampPalette", "heat.colors")
importFrom("graphics", "abline", "axis", "filled.contour", "hist",
           "legend", "lines", "par", "points", "strheight", "text")
importFrom("methods", "is", "new")
importFrom("stats", "na.omit", "optim", "pbeta", "pt", "runif",
           "uniroot", "var")
importFrom("utils", "read.table", "write.table")
